.task {
  border: 2px outset black;
  margin: 2px 2px 2px 2px;
  padding: 10px 10px 10px 10px;
}

label {
  padding: 10px 10px 10px 10px;
}

.selected {
  background-color: #97D2E6;
}

.task-form {
  margin: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
}

button { 
  margin-left: 10px;
}