<h1>{{ title }}</h1>
<div *ngFor="#currentTask of allTasks" class="task" (click)="selectTask(currentTask)" [class.selected]="currentTask === selectedTask">
  <input *ngIf="currentTask.done" type="checkbox" checked (click)="toggleDone(currentTask)"/>
  <input *ngIf="!currentTask.done" type="checkbox" (click)="toggleDone(currentTask)"/>
  <label>{{ currentTask.description }}</label>
</div>
<task-edit [task]="selectedTask"></task-edit>
<div class="task-form">
  <h3>Create Task:</h3>
  <input placeholder="Description" class="col-sm-8 input-lg" #newDescription>
  <button (click)="addTask(newDescription)" class="btn-success btn-lg">Add</button>
</div>