<h1>{{ title }}</h1>
<div *ngFor="#currentTask of allTasks" class="task" (click)="selectTask(currentTask)" [class.selected]="currentTask === selectedTask">
  <input *ngIf="currentTask.done" type="checkbox" checked (click)="toggleDone(currentTask)"/>
  <input *ngIf="!currentTask.done" type="checkbox" (click)="toggleDone(currentTask)"/>
  <label>{{ currentTask.description }}</label>
</div>
<div *ngIf="selectedTask">
  <h3>Edit description:</h3>
  <input type="text" [(ngModel)]="selectedTask.description" class="col-sm-12 input-lg"/>
</div>