.selected {
  color: #c5edfa;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.go-button {
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.task-form {
  margin-bottom: 80px;
  margin-right: 10px;
}

.input-lg {
  margin-right: 10px;
}

.img-thumbnail { 
  min-height:35px; 
  height:35px;   
  min-width:35px; 
  width:35px; 
}